/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* stile lista film */

.card {

  img {
    aspect-ratio: 0.9;
  }

  .card-text {
    font-size: 0.95rem;
  }
}

/* stile singolo film */

.card-body h5 {
  display: inline
}

.card-text {
  margin-top: 10px;
}

#movie {
  display: flex;

  .info {
    margin-left: 20px;
  }
}

.image-film {
  width: 300px;

  img {
    width: 100%;
  }
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;

  .star-container {
    margin-left: 5px;
    margin-top: -2px;
  }
}

/* stile pagina rating */

.card-rating {
  display: flex;
  justify-content: space-between;

  .podium {
    font-size: 6rem;
  }
}

.rating {

  .first {
    background-color: gold;
    transform: scale(1.1);
  }

  .second {
    background-color: silver;
    transform: scale(1.06);
  }

  .third {
    background-color: #CD7F32;
    transform: scale(1.03);
  }
}

/* stile overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    width: 200px;
    height: 200px;
    font-size: 2rem;
  }
}